# Milestone Report

Disclosure: I have very little affinity with R and I will probably not use it in the future. Teachers are asking us to take on something we didn't learn before (NLP) so why not using a language we didn't learn before? I will use [Python](https://www.python.org/), the [Spacy](https://spacy.io/) library and other technologies for this capstone.

You will find this notebook with other sources on github: https://github.com/samidarko/datascience-capstone

To store the datasets on Github I used Git Large File Storage https://git-lfs.github.com/

## Imported libraries

In [13]:
import os
import pandas as pd
import numpy as np
import spacy
from collections import Counter
from nltk import bigrams, trigrams
spacy.prefer_gpu()
nlp = spacy.load('en') # loading the english model

## Pre-processing
We are going to focus on the english datasets. As the structure of those files are all the same (just lines of text) let's concatenate them in a single file named `corpus.txt` using the following command lines:

```shell
> cat en_US.*.txt > corpus.txt
> wc -l corpus.txt 
 4269678 corpus.txt
```

The file can be found in the project at `datasets/corpus.txt`

We probably only need words so let's keep only alpha tokens in lowercase. 

We will use [spacy](https://spacy.io/) for the purpose. Like, it takes resources I will store the result in a new file named `preprocessed_corpus.csv`

In [8]:
if not os.path.isfile('datasets/preprocessed_corpus.txt'):
    with open('datasets/corpus.txt') as corpus:
        with open('datasets/preprocessed_corpus.txt', 'w') as preprocessed_corpus:
            for line in corpus.readlines():
                preprocessed_corpus.write('{}\n'.format(','.join([token.lower_ for token in nlp(line.strip()) if token.is_alpha])))

### Monogram frequencies
As our `preprocessed_corpus.csv` contains more than 4 millions lines, we do not want to extract the monogram frequencies every time we run this cell, so we are going to store this result in a new dataset named `monogram_frequencies.txt`

In [12]:
if not os.path.isfile('datasets/monogram_frequencies.txt'):
    words_count = Counter()
    for line in open('datasets/preprocessed_corpus.txt').readlines():
        words_count += Counter(line.strip().split(','))
        
    with open('datasets/monogram_frequencies.txt', 'w') as f:
        for word, count in words_count.most_common():
            f.write('{},{}\n'.format(word, count))

### Bigram frequencies

In [6]:
if not os.path.isfile('datasets/bigram_frequencies.txt'):
    words_count = Counter()
    for line in open('datasets/preprocessed_corpus.txt').readlines():
        words = line.strip().split(',')
        words_count += Counter([' '.join(ngram) for ngram in bigram(words)])
        
    with open('datasets/bigram_frequencies.txt', 'w') as f:
        for word, count in words_count.most_common():
            f.write('{},{}\n'.format(word, count))

### Trigram frequencies

In [5]:
if not os.path.isfile('datasets/trigram_frequencies.txt'):
    words_count = Counter()
    for line in open('datasets/preprocessed_corpus.txt').readlines():
        words = line.strip().split(',')
        words_count += Counter([' '.join(ngram) for ngram in trigram(words)])
        
    with open('datasets/trigram_frequencies.txt', 'w') as f:
        for word, count in words_count.most_common():
            f.write('{},{}\n'.format(word, count))

### A more scalable approach
The code above is just a naive approach and would take a lot of time. What I actually did is split the data into 6 smaller datasets:

```shell
> split -l 711613 preprocessed_corpus.txt
```

We now have 6 files: `xaa`, `xab`, `xac`, `xad`, `xae` and `xaf` of 711613 lines of text

I opened 6 terminals and in each I ran the python script `monogram_counter.py` provided in the repository with each of the `xa?`

```shell
> python monogram_counter.py datasets/xaa
```

After each processed ended I ran the aggregator script:
```shell
> python counter_aggregator.py datasets/monogram_frequencies.txt datasets/xa*.csv
```

I did the same to generate `bigram_frequencies.txt` and `trigram_frequencies.txt` using another script `python ngram_counter.py 2 datasets/xaa` and `python ngram_counter.py 2 datasets/xaa` respectfully. Also provided in repository.

## Exploratory analysis

### The aggregated corpus

In [32]:
monogram_frequencies_df = pd.read_csv('datasets/monogram_frequencies.txt', names=['ngram', 'frequency'])
print('The corpus contains {} unique words'.format(monogram_frequencies_df.ngram.count()))
print('The corpus contains a total of {} words'.format(monogram_frequencies_df.frequency.sum()))

The corpus contains 222773 unique words
The corpus contains a total of 29225076 words

The corpus contains 4269678 lines:
```shell
> wc -l datasets/corpus.txt 
4269678 datasets/corpus.txt
```

### What are the frequencies of 1-gram, 2-grams and 3-grams in the dataset?

In [18]:
monogram_frequencies_df.head(10)

  ngram  frequency
0   the    1471219
1   and     863749
2    to     845783
3     i     713032
4     a     710149
5    of     692803
6    in     473068
7    it     383436
8  that     383327
9    is     350925

In [19]:
bigram_frequencies_df = pd.read_csv('datasets/bigram_frequencies.txt', names=['ngram', 'frequency'])
bigram_frequencies_df.head(10)

      ngram  frequency
0    of the     431854
1    in the     412436
2    to the     214324
3   for the     201268
4    on the     197424
5     to be     162677
6    at the     143426
7   and the     126317
8      in a     120234
9  with the     106049

In [20]:
trigram_frequencies_df = pd.read_csv('datasets/trigram_frequencies.txt', names=['ngram', 'frequency'])
trigram_frequencies_df.head(10)

            ngram  frequency
0      one of the      34625
1        a lot of      30044
2  thanks for the      23835
3         to be a      18220
4     going to be      17449
5       i want to      15208
6      the end of      14986
7      out of the      14947
8        it was a      14874
9      as well as      13943

### How many unique words do you need in a frequency sorted dictionary to cover all word instances in percent

In [25]:
def get_cumulated_ngram_count_in_percent(df):
    total_ngrams = df.frequency.sum()
    df['coverage'] = df.frequency / total_ngrams
    df['coverage_cumsum'] = df.coverage.cumsum()
    percents = np.arange(0.1, 1.1, 0.1)
    cumulated_ngram_count = []
    for percent in percents:
        cumulated_ngram_count.append(df[df.coverage_cumsum <= percent]['ngram'].count())
    return pd.DataFrame({'percent': percents, 'count': cumulated_ngram_count})

In [26]:
get_cumulated_ngram_count_in_percent(monogram_frequencies_df)

   percent   count
0      0.1       2
1      0.2       7
2      0.3      18
3      0.4      43
4      0.5      95
5      0.6     238
6      0.7     669
7      0.8    1856
8      0.9    6042
9      1.0  222772

In [27]:
get_cumulated_ngram_count_in_percent(bigram_frequencies_df)

   percent     count
0      0.1       198
1      0.2      1174
2      0.3      4274
3      0.4     12678
4      0.5     34627
5      0.6     93598
6      0.7    268398
7      0.8    899499
8      0.9   3808168
9      1.0  13066677

In [28]:
get_cumulated_ngram_count_in_percent(trigram_frequencies_df)

   percent     count
0      0.1     10527
1      0.2     76079
2      0.3    320768
3      0.4   1078025
4      0.5   3129820
5      0.6   7322287
6      0.7  16190733
7      0.8  25326948
8      0.9  34463163
9      1.0  43599377

### How do you evaluate how many of the words come from foreign languages?
- Use a static dictionary
- Test if the characters belong the the alphabet

## Modeling